xml/vtkSurface.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="VTKFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PolyData"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PolyData"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Polys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataArray" minOccurs="2" maxOccurs="2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PolyData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Piece"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Points">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataArray" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PointData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataArray"/>
			</xs:sequence>
			<xs:attribute name="Scalars" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="my_scalars"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Piece">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Points" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="PointData" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CellData" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Polys" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="NumberOfPolys" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NumberOfPoints" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataArray">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Float32"/>
								<xs:enumeration value="Int32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="format" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="ascii"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="NumberOfComponents">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Name">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="cell_normals"/>
								<xs:enumeration value="cell_scalars"/>
								<xs:enumeration value="connectivity"/>
								<xs:enumeration value="my_scalars"/>
								<xs:enumeration value="offsets"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CellData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataArray" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Scalars" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="cell_scalars"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Normals" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="cell_normals"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
